<h1>This is the about page. </h1>

<p> WarCon is currently the only viable competitive build for Ad-Mech armies.  However, within WarCon, many varieties exist. </p>

<div>
    <ul> Some high level builds: </ul>
        <li> Max Skitarii: 4 dragoons, 3 walkers </li>
        <li> Librarius Conclave with Daemons </li>
        <li> Cawltarri with Skitarii CAD </li>
        <li> Haemotrope and Servitor Convocation </li>
        <li> Castellon Robots </li>
        <li> Dual Knights </li>
</div>



<%= link_to 'index', welcome_index_path  %>