<h1>Welcome to the index page for the WarCon Blog.</h1>

<p> More content will come soon.  </p>


<%= image_tag "WarCon" %>


<ul> Assignment </ul>

  <li> Steps for homework assignment.   </li>
  <li> Create a new Rails appliaction and call it alpha-blog.  </li>
  <li> Once it is created, ensure you can run the server with the preview. </li>
  <li> WIthin it, create a 'pages_controller.rb', folder will be 'pages'.  </li>
  <li> Ensure you have appropriate routes.  </li>
  <li>Create a home page.  Pages controller will have: home page, about action, and links between the two.  </li>
  <li>  The design in home.html.erb we should have HTML from prior pure HTML home page.  </li>
  <li>  A discussion about LVO and WarCon and matchup meta. </li>

<p></p>


<%= link_to 'about', welcome_about_path  %>