<h1>Welcome to the index page for the WarCon Blog.</h1>

<p> More content will come soon.  </p>


<%= image_tag "WarCon" %>




<p></p>

<ul> Navigation links </ul>
  <li> <%= link_to 'index', root_path  %>  </li>
  <li> <%= link_to 'about', about_path  %> </li>
  <li>  <%= link_to 'articles', articles_path  %> </li>



